/* NÃO ALTERAR ESSAS PROPRIEDADES DO BODY */
body {
    /* Altura em 100% do tamanho da janela */
    height: 100vh;
    /* Habilita o posicionamento Flexbox */
    /* Transforma todos em filhos em flex itens */
    display: flex;
    /* Alinha os elementos na horizontal */
    justify-content: center;
    /* Alinha os elementos na vertical */
    
    align-items: center;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color:#666;
    font-size:20px;
    background:#333;
}
/*Caixa do formulário*/
form {
    background:#111; 
    width:500px;
    height:300px;
    margin:60px auto;
    border-radius:0.4em;
    border:1px solid #ffffff;
    overflow:hidden;
    position:relative;
}
/*Título "iniciar sessão"*/
form h1 {
    font-size:18px;
    text-align:center;
    padding:10px;
    padding-top: 5px;
    position:relative;
  }
  
/*Labels "login" e "senha"*/
 label {
        color:#666;
        display:block;
        padding-bottom:5px;
        padding-left: 10px;
  }
  /*caixas de inserção de texto*/
  input[type=text],
  input[type=password] {
        width:100%;
        padding:8px 5px;
        background:#666;
}

  /*Botão enviar*/
  input[type=submit] {
    padding:10px 20px;
    border-radius:0.3em;
    background:#666;
    float:right;
    font-weight:bold;
    cursor:pointer;
    font-size:20px;
}
